
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: black;
    padding:20px 70px;
}

.heading{
    text-align: center;
    display: flex;
    
    color:white;
    font-size: 60px;
    margin: 30px 0;
    padding-bottom: 20px;
    
    letter-spacing: 5px;
    font-weight: 300;
    
}
.heading::after{
    content: "";
    border-radius: 5px;
    margin-top:50px ;
    margin-left: 8px;
    height: 10px;
    width: 10px;
    background: red;
}

.title p{
    color: silver;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 1px;
}

.container{
    padding:40px;
   
    width:33%;
   
}

.cards{
   display: flex;
   flex-wrap: wrap;
    
    
}

.container:hover{
    cursor:pointer;
    background: rgb(235, 35, 35);
}

.container:hover #time{
    color: black;
}


.date h1{
    font-size:90px;
    color: rgb(235, 35, 35);
    font-weight: 400;
    margin: 0;
}

.date{
    margin: 3px 0;
}


.venue{
    color: white;
    
}

.venue h4{
    font-weight: 400;
    color: grey;
    letter-spacing: 1px;
}
 .venue h3{
     font-size: 28px;
     font-weight: 300;
 }

 .footer{
     
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
     border-top:0.5px solid gray;
     color: white;
     padding: 50px 0 180px 0;
     
     
 }

 .footer h1{
     font-size:24px;
     font-weight:400;
     margin-bottom: 30px;

 }

 .footer p{
     color:rgb(158, 157, 157);
     font-weight:300;
     font-size:17px;
 }

 .footcol{
     padding: 0 40px 40px 0;
 }

 .copy{
     display: flex;
     justify-content: space-between;
     color: rgb(158, 157, 157);
    
 }

 .stamp{
     display: flex;
     justify-content: center;
     margin:50px;
     background: yellow;
     padding: 30px;
     

 }

 .stampinner{
     border:2px solid black;
     width:90%;
     height:30%;
     padding:40px 0;
     position: relative;
 }

 .stampinner h3{
     position: absolute;
     right:10px;
     top:5px;
 }
